.pop-categories {
    display: flex;
    flex-direction: column;
    width: 85vw;
    justify-self: center;
}

.categories-heading-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
}

.pop-categories-heading {
    font-size: 32px;
    font-weight: 600;
}

.view-all {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #00B207;
    font-weight: 600;
    gap: 10px;
}

.categories-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}

.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    height: 213px;
    width: 195px;
    gap: 15px;
}

.category p {
    font-size: 18px;
    font-weight: 500;
}

.category:hover {
    border-color: #2C742F;
    box-shadow: 0px 0px 5px #00B207;
    color: #2C742F;
}