.associates-body {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.associates-wrap {
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 85vw;
}

.asc-hr {
    transform: rotate(90deg);
    width: 32px;
    border: 1px solid #E5E5E5;
}

.asc-logo {
    cursor: pointer;
}