.about-one-body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 80px;
    width: 100vw;
}

.about-one {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.about-one-box {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.about-heading {
    font-size: 53px;
    font-weight: 600;
    margin-bottom: 20px;
    width: 90%;
    line-height: 120%;
}

.about-text {
    font-size: 18px;
    color: #666666;
}

.farmer-pic-one {
    width: 49%;
}